@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --text-color:#03182d;
    --color:#000a5a;
    --while-color:#fff;
    --Black-color:#333;
    --text-hover:#053fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.7rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.my-app {
    overflow: hidden; 
}



/* Modal layout */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --grow-from: 0.7;
    --grow-to : 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: grows linear 0.1s;
}


.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__pc {
    display: block;
}

/* Animation */

@keyframes FadeIn {
    from {
        transform: translateY(0)
       
    }
    to {
        transform: translateY(100%)
        
    }
}


